<a href="https://colab.research.google.com/github/MarianaDuartee/ProjetoFinal/blob/main/1_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importando a Biblioteca Pandas

In [479]:
import pandas as pd

#Evolução de despesas - CSV

* Importando o arquivo das Despesas com Segurança Pública de cada Estado, diretamente do CloudStorage utilizando a chave de acesso.

In [480]:
import os
from google.cloud import storage
serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount

df = pd.read_csv('gs://data_lake_ingest_data/1_input/EvolucaoDespesas_FREE.csv',sep=',')
df

           Regiões e UF               2011  ...               2020 Variação (em %)
0                 Norte   6.394.328.586,52  ...   8.763.954.594,78            37,1
1                  Acre     454.915.616,43  ...     493.753.295,05             8,5
2                 Amapá     493.902.125,45  ...     752.252.498,84            52,3
3              Amazonas   1.310.339.510,65  ...   2.101.446.656,49            60,4
4                  Pará   1.877.141.957,50  ...   2.966.553.398,06            58,0
5              Rondônia   1.171.454.453,24  ...     999.043.935,87           -14,7
6               Roraima     235.883.558,36  ...     391.178.398,82            65,8
7             Tocantins     850.691.364,90  ...   1.059.726.411,65            24,6
8               Alagoas   1.156.902.298,83  ...   1.354.986.271,10            17,1
9                 Bahia   4.159.170.807,43  ...   4.321.663.327,23             3,9
10                Ceará   1.562.044.939,45  ...   3.045.582.668,99            95,0
11             Maranhão   1.156.511.230,70  ...   1.954.383.775,43            69,0
12              Paraíba   1.033.648.850,01  ...   1.417.591.703,65            37,1
13           Pernambuco   3.203.175.332,74  ...   2.880.151.335,77           -10,1
14                Piauí     388.475.623,71  ...     785.831.782,84           102,3
15  Rio Grande do Norte     946.744.271,95  ...   1.038.218.393,89             9,7
16              Sergipe   1.098.925.303,81  ...     956.784.404,13           -12,9
17                Goiás   2.126.487.455,46  ...   3.191.756.073,42            50,1
18          Mato Grosso   1.729.230.808,55  ...   2.577.010.278,49            49,0
19   Mato Grosso do Sul   1.422.302.901,30  ...   1.240.097.629,22           -12,8
20     Distrito Federal     507.655.625,07  ...     976.512.801,87            92,4
21       Espírito Santo   1.305.730.180,21  ...   1.408.398.431,23             7,9
22         Minas Gerais  10.716.751.741,58  ...   8.987.254.187,84           -16,1
23            São Paulo  12.970.253.093,59  ...  11.935.651.972,97            -8,0
24       Rio de Janeiro   7.392.018.631,03  ...   9.450.563.276,46            27,8
25               Paraná   2.601.468.224,80  ...   3.687.001.806,21            41,7
26    Rio Grande do Sul   3.044.759.130,66  ...   5.530.741.787,01            81,6
27       Santa Catarina   2.404.010.102,35  ...   2.406.363.535,30             0,1

[28 rows x 12 columns]

* Verificando as 5 primeiras linhas do dataframe importado

In [481]:
df.head()

  Regiões e UF              2011  ...              2020 Variação (em %)
0        Norte  6.394.328.586,52  ...  8.763.954.594,78            37,1
1         Acre    454.915.616,43  ...    493.753.295,05             8,5
2        Amapá    493.902.125,45  ...    752.252.498,84            52,3
3     Amazonas  1.310.339.510,65  ...  2.101.446.656,49            60,4
4         Pará  1.877.141.957,50  ...  2.966.553.398,06            58,0

[5 rows x 12 columns]

* Verificando os tipos de dados de cada coluna

In [482]:
df.dtypes

Regiões e UF       object
2011               object
2012               object
2013               object
2014               object
2015               object
2016               object
2017               object
2018               object
2019               object
2020               object
Variação (em %)    object
dtype: object

* Backup do DataFrame de Despesas pois iremos realizar alterações

In [483]:
df_back = df.copy()
df_back.head()

  Regiões e UF              2011  ...              2020 Variação (em %)
0        Norte  6.394.328.586,52  ...  8.763.954.594,78            37,1
1         Acre    454.915.616,43  ...    493.753.295,05             8,5
2        Amapá    493.902.125,45  ...    752.252.498,84            52,3
3     Amazonas  1.310.339.510,65  ...  2.101.446.656,49            60,4
4         Pará  1.877.141.957,50  ...  2.966.553.398,06            58,0

[5 rows x 12 columns]

* Verificamos que as colunas de Despesas vieram como String devido á virgula presente, logo, realizamos a troca da virgula pelo ponto atraves da função abaixo

In [484]:
def alterar_numeros(col):
  novo = []
  for row in col:
    row = row.replace(".","")
    row = row.replace(",",".")
    novo.append(row)
  return novo

In [485]:
ano_val = 2011
for i in range(10):
  ano_str = str(ano_val)
  df[ano_str] = alterar_numeros(df[ano_str])
  ano_val = ano_val + 1
  #print(ano_str)

* Verificamos também, que a coluna de Variação das Despesas ao longo dos anos estava como String também, logo, realizamos o mesmo processo de troca da virgula pelo ponto

In [486]:
def alterar_variacao(col):
  novo = []
  for row in col:
    row = row.replace(",",".")
    novo.append(row)
  return novo

df['Variação (em %)'] = alterar_variacao(df['Variação (em %)'])

In [487]:
df.head()

  Regiões e UF           2011  ...           2020 Variação (em %)
0        Norte  6394328586.52  ...  8763954594.78            37.1
1         Acre   454915616.43  ...   493753295.05             8.5
2        Amapá   493902125.45  ...   752252498.84            52.3
3     Amazonas  1310339510.65  ...  2101446656.49            60.4
4         Pará  1877141957.50  ...  2966553398.06            58.0

[5 rows x 12 columns]

* Depois da troca, realizamos a conversão das colunas que estavam como string para número (float)

In [488]:
df['2011'] = pd.to_numeric(df['2011'])
df['2012'] = pd.to_numeric(df['2012'])
df['2013'] = pd.to_numeric(df['2013'])
df['2014'] = pd.to_numeric(df['2014'])
df['2015'] = pd.to_numeric(df['2015'])
df['2016'] = pd.to_numeric(df['2016'])
df['2017'] = pd.to_numeric(df['2017'])
df['2018'] = pd.to_numeric(df['2018'])
df['2019'] = pd.to_numeric(df['2019'])
df['2020'] = pd.to_numeric(df['2020'])

In [489]:
df['Variação (em %)'] = pd.to_numeric(df['Variação (em %)'])

* Analisando se a conversão foi feita corretamente

In [490]:
df.dtypes

Regiões e UF        object
2011               float64
2012               float64
2013               float64
2014               float64
2015               float64
2016               float64
2017               float64
2018               float64
2019               float64
2020               float64
Variação (em %)    float64
dtype: object

In [491]:
df.head()

  Regiões e UF          2011  ...          2020  Variação (em %)
0        Norte  6.394329e+09  ...  8.763955e+09             37.1
1         Acre  4.549156e+08  ...  4.937533e+08              8.5
2        Amapá  4.939021e+08  ...  7.522525e+08             52.3
3     Amazonas  1.310340e+09  ...  2.101447e+09             60.4
4         Pará  1.877142e+09  ...  2.966553e+09             58.0

[5 rows x 12 columns]

* Formatar dados para números por milhão, pois como os números são muito grandes estavam com e+09 ou e+08

In [492]:
def por_milhao(col):
  novo = []
  for row in col:
    row = row/1000000
    row = round(row,3)
    novo.append(row)
  return novo

In [493]:
ano_val = 2011
for i in range(10):
  ano_str = str(ano_val)
  df[ano_str] = por_milhao(df[ano_str])
  ano_val = ano_val + 1
  #print(ano_str)

* Verificando se a formatação foi realizada corretamente

In [494]:
df.head()

  Regiões e UF      2011      2012  ...      2019      2020  Variação (em %)
0        Norte  6394.329  6623.980  ...  8612.203  8763.955             37.1
1         Acre   454.916   532.165  ...   692.570   493.753              8.5
2        Amapá   493.902    59.403  ...   606.366   752.252             52.3
3     Amazonas  1310.340  1593.403  ...  2108.460  2101.447             60.4
4         Pará  1877.142  2181.271  ...  2943.448  2966.553             58.0

[5 rows x 12 columns]

* Renomeando o nome das colunas

In [495]:
df.rename(columns={'Regiões e UF': 'UF','Variação (em %)':'Variacao%'},inplace=True)

In [496]:
df.rename(columns={'2011': 'Despesas2011', '2012': 'Despesas2012', '2013': 'Despesas2013', '2014': 'Despesas2014', '2015': 'Despesas2015', '2016': 'Despesas2016', '2017': 'Despesas2017', '2018': 'Despesas2018', '2019': 'Despesas2019', '2020': 'Despesas2020'},inplace=True)

In [497]:
df.head()

         UF  Despesas2011  Despesas2012  ...  Despesas2019  Despesas2020  Variacao%
0     Norte      6394.329      6623.980  ...      8612.203      8763.955       37.1
1      Acre       454.916       532.165  ...       692.570       493.753        8.5
2     Amapá       493.902        59.403  ...       606.366       752.252       52.3
3  Amazonas      1310.340      1593.403  ...      2108.460      2101.447       60.4
4      Pará      1877.142      2181.271  ...      2943.448      2966.553       58.0

[5 rows x 12 columns]

* Excluindo as colunas de 2011 a 2015, afim de realizamos a analise com base nos anos a partir de 2016

In [498]:
df.drop(columns=["Despesas2011", "Despesas2012","Despesas2013","Despesas2014","Despesas2015"],inplace=True)
df

                     UF  Despesas2016  ...  Despesas2020  Variacao%
0                 Norte      7254.022  ...      8763.955       37.1
1                  Acre       498.535  ...       493.753        8.5
2                 Amapá       475.323  ...       752.252       52.3
3              Amazonas      1604.732  ...      2101.447       60.4
4                  Pará      2551.741  ...      2966.553       58.0
5              Rondônia       874.874  ...       999.044      -14.7
6               Roraima       408.934  ...       391.178       65.8
7             Tocantins       839.882  ...      1059.726       24.6
8               Alagoas      1196.641  ...      1354.986       17.1
9                 Bahia      4760.591  ...      4321.663        3.9
10                Ceará      2188.315  ...      3045.583       95.0
11             Maranhão      1593.472  ...      1954.384       69.0
12              Paraíba      1286.810  ...      1417.592       37.1
13           Pernambuco      2657.598  ...      2880.151      -10.1
14                Piauí       804.429  ...       785.832      102.3
15  Rio Grande do Norte      1215.257  ...      1038.218        9.7
16              Sergipe       942.150  ...       956.784      -12.9
17                Goiás      3455.910  ...      3191.756       50.1
18          Mato Grosso      2085.541  ...      2577.010       49.0
19   Mato Grosso do Sul      1459.525  ...      1240.098      -12.8
20     Distrito Federal       812.247  ...       976.513       92.4
21       Espírito Santo      1503.902  ...      1408.398        7.9
22         Minas Gerais     10200.579  ...      8987.254      -16.1
23            São Paulo     12623.118  ...     11935.652       -8.0
24       Rio de Janeiro     10516.680  ...      9450.563       27.8
25               Paraná      4378.227  ...      3687.002       41.7
26    Rio Grande do Sul      3830.294  ...      5530.742       81.6
27       Santa Catarina      2504.618  ...      2406.364        0.1

[28 rows x 7 columns]

* Verificando se há numeros nulos ou notAvalaible na tabela

In [499]:
df.isnull().sum()

UF              0
Despesas2016    0
Despesas2017    0
Despesas2018    0
Despesas2019    0
Despesas2020    0
Variacao%       0
dtype: int64

In [500]:
df.isna().sum()

UF              0
Despesas2016    0
Despesas2017    0
Despesas2018    0
Despesas2019    0
Despesas2020    0
Variacao%       0
dtype: int64

* Verificando os valores unicos de cada coluna, afim de analisar se há inconsistencias

In [501]:
pd.unique(df['UF'])

array(['Norte', 'Acre', 'Amapá', 'Amazonas', 'Pará', 'Rondônia',
       'Roraima', 'Tocantins', 'Alagoas', 'Bahia', 'Ceará', 'Maranhão',
       'Paraíba', 'Pernambuco', 'Piauí', 'Rio Grande do Norte', 'Sergipe',
       'Goiás', 'Mato Grosso', 'Mato Grosso do Sul', 'Distrito Federal',
       'Espírito Santo', 'Minas Gerais', 'São Paulo', 'Rio de Janeiro',
       'Paraná', 'Rio Grande do Sul', 'Santa Catarina'], dtype=object)

In [502]:
pd.unique(df['Despesas2016'])

array([ 7254.022,   498.535,   475.323,  1604.732,  2551.741,   874.874,
         408.934,   839.882,  1196.641,  4760.591,  2188.315,  1593.472,
        1286.81 ,  2657.598,   804.429,  1215.257,   942.15 ,  3455.91 ,
        2085.541,  1459.525,   812.247,  1503.902, 10200.579, 12623.118,
       10516.68 ,  4378.227,  3830.294,  2504.618])

In [503]:
pd.unique(df['Despesas2017'])

array([ 7462.104,   568.361,   500.227,  1578.957,  2579.916,   895.868,
         440.124,   898.652,  1244.52 ,  4569.076,  2400.235,  1764.788,
        1295.207,  2807.874,   792.977,   983.317,   938.501,  3084.744,
        2118.651,  1487.222,   909.792,  1515.639, 10184.396, 12833.789,
        9517.644,  4832.395,  4242.065,  2499.203])

In [504]:
pd.unique(df['Despesas2018'])

array([ 8130.774,   627.351,   489.228,  1862.669,  2903.2  ,   903.254,
         405.446,   939.627,  1251.229,  4601.027,  2763.339,  1980.318,
        1352.972,  2971.232,   799.   ,  1045.736,   956.072,  3643.161,
        2204.075,  1233.864,   905.006,  1575.667,  9905.975, 12259.8  ,
       10222.455,  4159.687,  4835.823,  2484.836])

In [505]:
pd.unique(df['Despesas2019'])

array([ 8612.203,   692.57 ,   606.366,  2108.46 ,  2943.448,   853.971,
         288.198,  1119.19 ,  1159.159,  4682.403,  2842.36 ,  2003.66 ,
        1386.24 ,  2985.145,   893.296,  1203.684,   989.128,  3839.27 ,
        2486.876,  1259.369,   931.987,  1427.714,  9308.714, 12321.964,
       10035.271,  3986.055,  5038.748,  2396.133])

In [506]:
pd.unique(df['Despesas2020'])

array([ 8763.955,   493.753,   752.252,  2101.447,  2966.553,   999.044,
         391.178,  1059.726,  1354.986,  4321.663,  3045.583,  1954.384,
        1417.592,  2880.151,   785.832,  1038.218,   956.784,  3191.756,
        2577.01 ,  1240.098,   976.513,  1408.398,  8987.254, 11935.652,
        9450.563,  3687.002,  5530.742,  2406.364])

* Removendo a linha com os valores da Região Norte, pois iremos analisar por estado

In [507]:
indice = df.loc[df['UF'] == 'Norte'].index
df.drop(indice,axis=0,inplace=True)
df

                     UF  Despesas2016  ...  Despesas2020  Variacao%
1                  Acre       498.535  ...       493.753        8.5
2                 Amapá       475.323  ...       752.252       52.3
3              Amazonas      1604.732  ...      2101.447       60.4
4                  Pará      2551.741  ...      2966.553       58.0
5              Rondônia       874.874  ...       999.044      -14.7
6               Roraima       408.934  ...       391.178       65.8
7             Tocantins       839.882  ...      1059.726       24.6
8               Alagoas      1196.641  ...      1354.986       17.1
9                 Bahia      4760.591  ...      4321.663        3.9
10                Ceará      2188.315  ...      3045.583       95.0
11             Maranhão      1593.472  ...      1954.384       69.0
12              Paraíba      1286.810  ...      1417.592       37.1
13           Pernambuco      2657.598  ...      2880.151      -10.1
14                Piauí       804.429  ...       785.832      102.3
15  Rio Grande do Norte      1215.257  ...      1038.218        9.7
16              Sergipe       942.150  ...       956.784      -12.9
17                Goiás      3455.910  ...      3191.756       50.1
18          Mato Grosso      2085.541  ...      2577.010       49.0
19   Mato Grosso do Sul      1459.525  ...      1240.098      -12.8
20     Distrito Federal       812.247  ...       976.513       92.4
21       Espírito Santo      1503.902  ...      1408.398        7.9
22         Minas Gerais     10200.579  ...      8987.254      -16.1
23            São Paulo     12623.118  ...     11935.652       -8.0
24       Rio de Janeiro     10516.680  ...      9450.563       27.8
25               Paraná      4378.227  ...      3687.002       41.7
26    Rio Grande do Sul      3830.294  ...      5530.742       81.6
27       Santa Catarina      2504.618  ...      2406.364        0.1

[27 rows x 7 columns]

* Acrescentando uma coluna com a média dos valores presentes nas outras colunas

In [508]:
col = df.loc[: , "Despesas2016":"Despesas2020"]
df['Previsao2021|Media'] = col.mean(axis=1)
df

                     UF  Despesas2016  ...  Variacao%  Previsao2021|Media
1                  Acre       498.535  ...        8.5            576.1140
2                 Amapá       475.323  ...       52.3            564.6792
3              Amazonas      1604.732  ...       60.4           1851.2530
4                  Pará      2551.741  ...       58.0           2788.9716
5              Rondônia       874.874  ...      -14.7            905.4022
6               Roraima       408.934  ...       65.8            386.7760
7             Tocantins       839.882  ...       24.6            971.4154
8               Alagoas      1196.641  ...       17.1           1241.3070
9                 Bahia      4760.591  ...        3.9           4586.9520
10                Ceará      2188.315  ...       95.0           2647.9664
11             Maranhão      1593.472  ...       69.0           1859.3244
12              Paraíba      1286.810  ...       37.1           1347.7642
13           Pernambuco      2657.598  ...      -10.1           2860.4000
14                Piauí       804.429  ...      102.3            815.1068
15  Rio Grande do Norte      1215.257  ...        9.7           1097.2424
16              Sergipe       942.150  ...      -12.9            956.5270
17                Goiás      3455.910  ...       50.1           3442.9682
18          Mato Grosso      2085.541  ...       49.0           2294.4306
19   Mato Grosso do Sul      1459.525  ...      -12.8           1336.0156
20     Distrito Federal       812.247  ...       92.4            907.1090
21       Espírito Santo      1503.902  ...        7.9           1486.2640
22         Minas Gerais     10200.579  ...      -16.1           9717.3836
23            São Paulo     12623.118  ...       -8.0          12394.8646
24       Rio de Janeiro     10516.680  ...       27.8           9948.5226
25               Paraná      4378.227  ...       41.7           4208.6732
26    Rio Grande do Sul      3830.294  ...       81.6           4695.5344
27       Santa Catarina      2504.618  ...        0.1           2458.2308

[27 rows x 8 columns]

* Exportando o DataFrame de Despesas Normalizado para o GloudStorage em formato CSV

In [509]:
from google.cloud import storage
import os
serviceAccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount


client = storage.Client()
bucket = client.get_bucket('data_lake_ingest_data')
    
bucket.blob('2_temp/temp_pandas_despesas_normalizado.csv').upload_from_string(df.to_csv(index=False), 'text/csv')

#Ocorrências - JSON

* Importando o arquivo das Ocorrencias Criminais realizadas por tipo de Crime e por Estado, diretamente do CloudStorage

In [510]:
import os
from google.cloud import storage
serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount
df1 = pd.read_json('gs://data_lake_ingest_data/1_input/OcorrenciasUF.json')
df1

              UF                           Tipo Crime  ...       Mês Ocorrências
0           Acre                              Estupro  ...   janeiro          39
1           Acre                     Furto de veículo  ...   janeiro          55
2           Acre                     Homicídio doloso  ...   janeiro          14
3           Acre      Lesão corporal seguida de morte  ...   janeiro           0
4           Acre       Roubo a instituição financeira  ...   janeiro           0
...          ...                                  ...  ...       ...         ...
18769  Tocantins       Roubo a instituição financeira  ...  dezembro           6
18770  Tocantins                       Roubo de carga  ...  dezembro           1
18771  Tocantins                     Roubo de veículo  ...  dezembro          55
18772  Tocantins  Roubo seguido de morte (latrocínio)  ...  dezembro           2
18773  Tocantins               Tentativa de homicídio  ...  dezembro          42

[18774 rows x 5 columns]

* Verificando os 5 primeiros dados

In [511]:
df1.head()

     UF                       Tipo Crime   Ano      Mês  Ocorrências
0  Acre                          Estupro  2021  janeiro           39
1  Acre                 Furto de veículo  2021  janeiro           55
2  Acre                 Homicídio doloso  2021  janeiro           14
3  Acre  Lesão corporal seguida de morte  2021  janeiro            0
4  Acre   Roubo a instituição financeira  2021  janeiro            0

* Verificando os 5 ultimos dados

In [512]:
df1.tail()

              UF                           Tipo Crime  ...       Mês Ocorrências
18769  Tocantins       Roubo a instituição financeira  ...  dezembro           6
18770  Tocantins                       Roubo de carga  ...  dezembro           1
18771  Tocantins                     Roubo de veículo  ...  dezembro          55
18772  Tocantins  Roubo seguido de morte (latrocínio)  ...  dezembro           2
18773  Tocantins               Tentativa de homicídio  ...  dezembro          42

[5 rows x 5 columns]

* Verificando os tipos de dados de cada coluna

In [513]:
df1.dtypes

UF             object
Tipo Crime     object
Ano             int64
Mês            object
Ocorrências     int64
dtype: object

* Verificando se há numeros nulos ou notAvalaible nas colunas

In [514]:
df1.isnull().sum()

UF             0
Tipo Crime     0
Ano            0
Mês            0
Ocorrências    0
dtype: int64

In [515]:
df1.isna().sum()

UF             0
Tipo Crime     0
Ano            0
Mês            0
Ocorrências    0
dtype: int64

* Verificando os elementos unicos de cada coluna para verificar se há inconsistencias

In [516]:
sorted(pd.unique(df1['UF']))

['Acre',
 'Alagoas',
 'Amapá',
 'Amazonas',
 'Bahia',
 'Ceará',
 'Distrito Federal',
 'Espírito Santo',
 'Goiás',
 'Maranhão',
 'Mato Grosso',
 'Mato Grosso do Sul',
 'Minas Gerais',
 'Paraná',
 'Paraíba',
 'Pará',
 'Pernambuco',
 'Piauí',
 'Rio Grande do Norte',
 'Rio Grande do Sul',
 'Rio de Janeiro',
 'Rondônia',
 'Roraima',
 'Santa Catarina',
 'Sergipe',
 'São Paulo',
 'Tocantins']

In [517]:
sorted(pd.unique(df1['Tipo Crime']))

['Estupro',
 'Furto de veículo',
 'Homicídio doloso',
 'Lesão corporal seguida de morte',
 'Roubo a instituição financeira',
 'Roubo de carga',
 'Roubo de veículo',
 'Roubo seguido de morte (latrocínio)',
 'Tentativa de homicídio']

In [518]:
sorted(pd.unique(df1['Ano']))

[2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [519]:
sorted(pd.unique(df1['Mês']))

['abril',
 'agosto',
 'dezembro',
 'fevereiro',
 'janeiro',
 'julho',
 'junho',
 'maio',
 'março',
 'novembro',
 'outubro',
 'setembro']

In [520]:
sorted(pd.unique(df1['Ocorrências']))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 570,
 572,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 583,
 584,
 585,
 586,
 587,
 588,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 599,
 600,
 602,
 603,
 604,
 607,
 608,
 609,
 610,
 612,
 613,
 616,
 619,
 620,
 621,
 623,
 626,
 627,
 629,
 630,
 633,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 649,
 650,
 651,
 652,
 655,
 656,
 657,
 659,
 660,
 661,
 662,
 663,
 665,
 666,
 667,
 669,
 671,
 672,
 673,
 674,
 677,
 678,
 679,
 680,
 681,
 683,
 684,
 686,
 687,
 688,
 689,
 690,
 691,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 715,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 737,
 738,
 739,
 740,
 741,
 742,
 745,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 763,
 764,
 766,
 767,
 768,
 772,
 773,
 776,
 777,
 778,
 779,
 781,
 782,
 783,
 784,
 785,
 787,
 788,
 789,
 790,
 791,
 794,
 795,
 796,
 797,
 800,
 802,
 803,
 804,
 805,
 806,
 807,
 809,
 810,
 811,
 812,
 813,
 815,
 816,
 820,
 822,
 823,
 824,
 827,
 828,
 829,
 830,
 832,
 836,
 837,
 840,
 841,
 843,
 844,
 848,
 850,
 851,
 853,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 864,
 865,
 866,
 867,
 868,
 871,
 872,
 873,
 875,
 876,
 877,
 878,
 879,
 881,
 883,
 884,
 885,
 886,
 889,
 891,
 892,
 895,
 896,
 897,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 932,
 933,
 934,
 937,
 938,
 939,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 959,
 961,
 962,
 963,
 965,
 967,
 968,
 969,
 970,
 971,
 974,
 975,
 976,
 977,
 978,
 979,
 982,
 983,
 984,
 986,
 987,
 990,
 991,
 992,
 994,
 995,
 999,
 1004,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1015,
 1018,
 1019,
 1021,
 1023,
 1024,
 1025,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1034,
 1035,
 1036,
 1037,
 1038,
 1040,
 1041,
 1042,
 1043,
 1044,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1057,
 1058,
 1060,
 1061,
 1063,
 1065,
 1066,
 1071,
 1072,
 1073,
 1074,
 1076,
 1078,
 1079,
 1080,
 1082,
 1083,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1100,
 1101,
 1102,
 1103,
 1104,
 1106,
 1107,
 1109,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1122,
 1123,
 1124,
 1126,
 1129,
 1130,
 1132,
 1133,
 1134,
 1136,
 1139,
 1140,
 1141,
 1142,
 1144,
 1146,
 1149,
 1150,
 1153,
 1154,
 1158,
 1159,
 1160,
 1161,
 1162,
 1166,
 1167,
 1169,
 1170,
 1171,
 1172,
 1173,
 1175,
 1178,
 1179,
 1182,
 1183,
 ...]

* Backup do DataFrame de Ocorrencias, pois realizaremos alterações

In [521]:
df1_back = df1.copy()

* Renomeando os nomes de algumas colunas

In [522]:
df1.rename(columns={'Tipo Crime': 'TipoCrime','Mês':'Mes','Ocorrências':'Ocorrencias'},inplace=True)

* Retirando as linhas das ocorrencias no ano de 2015, pois realizaremos as analises nos anos de 2016 a 2021

In [523]:
indice = df1.loc[df1['Ano'] == 2015].index
df1.drop(indice,axis=0,inplace=True)
df1

              UF                            TipoCrime  ...       Mes Ocorrencias
0           Acre                              Estupro  ...   janeiro          39
1           Acre                     Furto de veículo  ...   janeiro          55
2           Acre                     Homicídio doloso  ...   janeiro          14
3           Acre      Lesão corporal seguida de morte  ...   janeiro           0
4           Acre       Roubo a instituição financeira  ...   janeiro           0
...          ...                                  ...  ...       ...         ...
15890  Tocantins       Roubo a instituição financeira  ...  dezembro           0
15891  Tocantins                       Roubo de carga  ...  dezembro           1
15892  Tocantins                     Roubo de veículo  ...  dezembro          63
15893  Tocantins  Roubo seguido de morte (latrocínio)  ...  dezembro           3
15894  Tocantins               Tentativa de homicídio  ...  dezembro          14

[15895 rows x 5 columns]

* Exportando o DataFrame das Ocorrencias Criminais normalizado diretamente para o CloudStorage

In [524]:
from google.cloud import storage
import os
serviceAccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount


client = storage.Client()
bucket = client.get_bucket('data_lake_ingest_data')
    
bucket.blob('2_temp/temp_pandas_ocorrencias_normalizado.json').upload_from_string(df1.to_json(), 'text/json')

* Agrupamento (Salvo em outro DataFrame) do total de ocorrencias criminais de cada tipo de crime em cada ano, separado por Estados, pois anteriormente, os dados estão por Mês, portando, assim, temos uma visualização do total de cada tipo de crime por ano e estado.

In [525]:
dfA = df1.groupby(['UF','Ano','TipoCrime']).sum()
dfA

                                                    Ocorrencias
UF        Ano  TipoCrime
Acre      2016 Estupro                                       36
               Furto de veículo                               0
               Homicídio doloso                             425
               Lesão corporal seguida de morte                1
               Roubo a instituição financeira                 0
...                                                         ...
Tocantins 2021 Roubo a instituição financeira                 1
               Roubo de carga                                 0
               Roubo de veículo                             241
               Roubo seguido de morte (latrocínio)            6
               Tentativa de homicídio                       185

[1455 rows x 1 columns]

#Vítimas - JSON

* Importando o arquivo das Vitimas, diretamente do CloudStorage

In [526]:
import os
from google.cloud import storage
serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount
df2 = pd.read_json('gs://data_lake_ingest_data/1_input/VitimasUF.json')
df2

              UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
0           Acre                     Homicídio doloso  ...        Feminino       1
1           Acre                     Homicídio doloso  ...       Masculino      13
2           Acre                     Homicídio doloso  ...         Sexo NI       0
3           Acre                     Homicídio doloso  ...        Feminino       4
4           Acre                     Homicídio doloso  ...       Masculino      12
...          ...                                  ...  ...             ...     ...
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2

[15745 rows x 6 columns]

* Verificando os 5 primeiros dados

In [527]:
df2.head()

     UF        Tipo Crime   Ano        Mês Sexo da Vítima  Vítimas
0  Acre  Homicídio doloso  2021    janeiro       Feminino        1
1  Acre  Homicídio doloso  2021    janeiro      Masculino       13
2  Acre  Homicídio doloso  2021    janeiro        Sexo NI        0
3  Acre  Homicídio doloso  2021  fevereiro       Feminino        4
4  Acre  Homicídio doloso  2021  fevereiro      Masculino       12

* Verificando os 5 ultimos dados

In [528]:
df2.tail()

              UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2

[5 rows x 6 columns]

* Verificando os tipos de dados de cada coluna

In [529]:
df2.dtypes

UF                object
Tipo Crime        object
Ano                int64
Mês               object
Sexo da Vítima    object
Vítimas            int64
dtype: object

* Verificando se há numeros nulos ou notAvalaible em cada coluna

In [530]:
df2.isnull().sum()

UF                0
Tipo Crime        0
Ano               0
Mês               0
Sexo da Vítima    0
Vítimas           0
dtype: int64

In [531]:
df2.isna().sum()

UF                0
Tipo Crime        0
Ano               0
Mês               0
Sexo da Vítima    0
Vítimas           0
dtype: int64

* Verificando os valores unicos presentes em cada coluna para analisar se há inconsistencias

In [532]:
sorted(pd.unique(df2['UF']))

['Acre',
 'Alagoas',
 'Amapá',
 'Amazonas',
 'Bahia',
 'Ceará',
 'Distrito Federal',
 'Espírito Santo',
 'Goiás',
 'Maranhão',
 'Mato Grosso',
 'Mato Grosso do Sul',
 'Minas Gerais',
 'Paraná',
 'Paraíba',
 'Pará',
 'Pernambuco',
 'Piauí',
 'Rio Grande do Norte',
 'Rio Grande do Sul',
 'Rio de Janeiro',
 'Rondônia',
 'Roraima',
 'Santa Catarina',
 'Sergipe',
 'São Paulo',
 'Tocantins']

In [533]:
sorted(pd.unique(df2['Tipo Crime']))

['Homicídio doloso',
 'Lesão corporal seguida de morte',
 'Roubo seguido de morte (latrocínio)']

In [534]:
sorted(pd.unique(df2['Ano']))

[2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [535]:
sorted(pd.unique(df2['Mês']))

['abril',
 'agosto',
 'dezembro',
 'fevereiro',
 'janeiro',
 'julho',
 'junho',
 'maio',
 'março',
 'novembro',
 'outubro',
 'setembro']

In [536]:
sorted(pd.unique(df2['Sexo da Vítima']))

['Feminino', 'Masculino', 'Não informado', 'Sem Informação', 'Sexo NI']

In [537]:
sorted(pd.unique(df2['Vítimas']))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 244,
 245,
 246,
 247,
 249,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 287,
 288,
 289,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 344,
 345,
 347,
 348,
 349,
 350,
 351,
 352,
 355,
 356,
 358,
 360,
 361,
 362,
 363,
 365,
 368,
 369,
 370,
 371,
 374,
 375,
 379,
 382,
 385,
 388,
 394,
 396,
 397,
 399,
 400,
 402,
 403,
 405,
 407,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 421,
 422,
 423,
 424,
 425,
 427,
 428,
 431,
 432,
 434,
 438,
 439,
 440,
 441,
 445,
 448,
 449,
 450,
 452,
 456,
 457,
 458,
 460,
 461,
 464,
 466,
 467,
 468,
 469,
 470,
 471,
 473,
 475,
 476,
 478,
 479,
 483,
 485,
 495,
 497,
 500,
 501,
 503,
 508,
 519,
 523,
 534,
 536,
 542,
 580]

* Backup do DataFrame de Vitimas

In [538]:
df2_back = df2.copy()
df2_back

              UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
0           Acre                     Homicídio doloso  ...        Feminino       1
1           Acre                     Homicídio doloso  ...       Masculino      13
2           Acre                     Homicídio doloso  ...         Sexo NI       0
3           Acre                     Homicídio doloso  ...        Feminino       4
4           Acre                     Homicídio doloso  ...       Masculino      12
...          ...                                  ...  ...             ...     ...
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2

[15745 rows x 6 columns]

* Renomeando algumas colunas

In [539]:
df2.rename(columns={'Tipo Crime': 'TipoCrime','Mês':'Mes','Sexo da Vítima':'SexoVitima','Vítimas':'Vitimas'},inplace=True)

* Verificamos que há 5 tipos na coluna SexoVitima, sendo 3 deles com o mesmo intuito, que é Sexo Não Indentificado, logo, realizamos uma alteração nos dados que tinham "Não informado" e "Sem informação" para apenas "Sexo NI"

In [540]:
df2['SexoVitima'] = df2['SexoVitima'].replace(["Não informado","Sem Informação"],'Sexo NI')
df2

              UF                            TipoCrime  ...  SexoVitima Vitimas
0           Acre                     Homicídio doloso  ...    Feminino       1
1           Acre                     Homicídio doloso  ...   Masculino      13
2           Acre                     Homicídio doloso  ...     Sexo NI       0
3           Acre                     Homicídio doloso  ...    Feminino       4
4           Acre                     Homicídio doloso  ...   Masculino      12
...          ...                                  ...  ...         ...     ...
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...   Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...   Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...   Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...   Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...   Masculino       2

[15745 rows x 6 columns]

In [541]:
df2.loc[df2['SexoVitima'] == 'Sexo NI']

            UF                            TipoCrime  ...  SexoVitima Vitimas
2         Acre                     Homicídio doloso  ...     Sexo NI       0
5         Acre                     Homicídio doloso  ...     Sexo NI       0
8         Acre                     Homicídio doloso  ...     Sexo NI       0
11        Acre                     Homicídio doloso  ...     Sexo NI       0
14        Acre                     Homicídio doloso  ...     Sexo NI       0
...        ...                                  ...  ...         ...     ...
15695  Sergipe  Roubo seguido de morte (latrocínio)  ...     Sexo NI       0
15698  Sergipe  Roubo seguido de morte (latrocínio)  ...     Sexo NI       0
15701  Sergipe  Roubo seguido de morte (latrocínio)  ...     Sexo NI       0
15704  Sergipe  Roubo seguido de morte (latrocínio)  ...     Sexo NI       0
15707  Sergipe  Roubo seguido de morte (latrocínio)  ...     Sexo NI       0

[4880 rows x 6 columns]

* Excluindo as linhas com vitimas no ano de 2015

In [542]:
indice = df2.loc[df2['Ano'] == 2015].index
df2.drop(indice,axis=0,inplace=True)
df2

              UF                            TipoCrime  ...  SexoVitima Vitimas
0           Acre                     Homicídio doloso  ...    Feminino       1
1           Acre                     Homicídio doloso  ...   Masculino      13
2           Acre                     Homicídio doloso  ...     Sexo NI       0
3           Acre                     Homicídio doloso  ...    Feminino       4
4           Acre                     Homicídio doloso  ...   Masculino      12
...          ...                                  ...  ...         ...     ...
13429  Tocantins  Roubo seguido de morte (latrocínio)  ...   Masculino       1
13430  Tocantins  Roubo seguido de morte (latrocínio)  ...   Masculino       2
13431  Tocantins  Roubo seguido de morte (latrocínio)  ...   Masculino       2
13432  Tocantins  Roubo seguido de morte (latrocínio)  ...   Masculino       1
13433  Tocantins  Roubo seguido de morte (latrocínio)  ...   Masculino       3

[13434 rows x 6 columns]

* Exportando o DataFrame de Vitimas Normalizado para o CloudStorage

In [543]:
from google.cloud import storage
import os
serviceAccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount


client = storage.Client()
bucket = client.get_bucket('data_lake_ingest_data')
    
bucket.blob('2_temp/temp_pandas_vitimas_normalizado.json').upload_from_string(df2.to_json(), 'text/json')

* Agrupamento (Salvo em outro DataFrame) do total de vitimas  de cada tipo de crime em cada ano, separado por Estados, pois anteriormente, os dados estão por Mês, portando, assim, temos uma visualização do total de cada tipo de crime por ano e estado.

In [544]:
dfB= df2.groupby(['UF','Ano','TipoCrime']).sum()
dfB

                                                    Vitimas
UF        Ano  TipoCrime
Acre      2016 Homicídio doloso                         354
          2017 Homicídio doloso                         232
               Lesão corporal seguida de morte            3
               Roubo seguido de morte (latrocínio)       15
          2018 Homicídio doloso                         394
...                                                     ...
Tocantins 2020 Lesão corporal seguida de morte            9
               Roubo seguido de morte (latrocínio)       16
          2021 Homicídio doloso                         180
               Lesão corporal seguida de morte            1
               Roubo seguido de morte (latrocínio)        6

[483 rows x 1 columns]

#DataFrame obtido com a junção

* Realizamos a junção dos dois DataFrames obtidos por agrupamento, afim de relacionarmos a quantidade total de ocorrencias com a quantidade total de vitimas por tipo de crime, ano e por estado

In [545]:
df_Ocorrencias_Vitimas_PorAnoEstado = pd.merge(dfA, dfB, how = 'inner', on = ['UF','Ano','TipoCrime'])
df_Ocorrencias_Vitimas_PorAnoEstado

                                                    Ocorrencias  Vitimas
UF        Ano  TipoCrime
Acre      2016 Homicídio doloso                             425      354
          2017 Homicídio doloso                             221      232
               Lesão corporal seguida de morte                0        3
               Roubo seguido de morte (latrocínio)           10       15
          2018 Homicídio doloso                             396      394
...                                                         ...      ...
Tocantins 2020 Lesão corporal seguida de morte                7        9
               Roubo seguido de morte (latrocínio)           16       16
          2021 Homicídio doloso                             157      180
               Lesão corporal seguida de morte                1        1
               Roubo seguido de morte (latrocínio)            6        6

[483 rows x 2 columns]

* Verificando os 20 primeiros dados

In [546]:
df_Ocorrencias_Vitimas_PorAnoEstado .head(20)

                                                  Ocorrencias  Vitimas
UF      Ano  TipoCrime
Acre    2016 Homicídio doloso                             425      354
        2017 Homicídio doloso                             221      232
             Lesão corporal seguida de morte                0        3
             Roubo seguido de morte (latrocínio)           10       15
        2018 Homicídio doloso                             396      394
             Roubo seguido de morte (latrocínio)           20       20
        2019 Homicídio doloso                             292      298
             Lesão corporal seguida de morte                2        3
             Roubo seguido de morte (latrocínio)           14       12
        2020 Homicídio doloso                             271      273
             Lesão corporal seguida de morte                1        1
             Roubo seguido de morte (latrocínio)           11       11
        2021 Homicídio doloso                             108      110
             Lesão corporal seguida de morte                1        1
             Roubo seguido de morte (latrocínio)            4        4
Alagoas 2016 Homicídio doloso                            1659     1695
             Lesão corporal seguida de morte                9        9
             Roubo seguido de morte (latrocínio)           61       61
        2017 Homicídio doloso                            1672     1706
             Lesão corporal seguida de morte               19       19

* Verificando os 20 ultimos dados

In [547]:
df_Ocorrencias_Vitimas_PorAnoEstado.tail(20)

                                                    Ocorrencias  Vitimas
UF        Ano  TipoCrime
São Paulo 2021 Lesão corporal seguida de morte               43       42
               Roubo seguido de morte (latrocínio)           86       88
Tocantins 2016 Homicídio doloso                             417      427
               Lesão corporal seguida de morte                5        5
               Roubo seguido de morte (latrocínio)           14       14
          2017 Homicídio doloso                             337      353
               Lesão corporal seguida de morte                7        5
               Roubo seguido de morte (latrocínio)           11       12
          2018 Homicídio doloso                             363      368
               Lesão corporal seguida de morte                7        8
               Roubo seguido de morte (latrocínio)           16       17
          2019 Homicídio doloso                             301      344
               Lesão corporal seguida de morte                7        8
               Roubo seguido de morte (latrocínio)           18       29
          2020 Homicídio doloso                             367      392
               Lesão corporal seguida de morte                7        9
               Roubo seguido de morte (latrocínio)           16       16
          2021 Homicídio doloso                             157      180
               Lesão corporal seguida de morte                1        1
               Roubo seguido de morte (latrocínio)            6        6

* Exportando o DataFrame da junção para o CloudStorage

In [548]:
from google.cloud import storage
import os
serviceAccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount


client = storage.Client()
bucket = client.get_bucket('data_lake_ingest_data')
    
bucket.blob('2_temp/temp_pandas_ocorrencia_vitimas_porAnoEstado.csv').upload_from_string(df_Ocorrencias_Vitimas_PorAnoEstado.to_csv(), 'text/csv')

#TAXA ANALFABETIZAÇÃO - CSV

* Importando o arquivo das Taxas de Analfabetização, diretamente do CloudStorage

In [549]:
import os
from google.cloud import storage
serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount

df3 = pd.read_csv('gs://data_lake_ingest_data/1_input/Taxa_analfabetismo.csv',sep=',')
df3

   Unidade da Federação   Grupo de idade  2016  2017  2018  2019
0              Rondônia  15 anos ou mais   6.6   7.2   6.5   6.4
1                  Acre  15 anos ou mais  13.1  12.1  12.1  11.7
2              Amazonas  15 anos ou mais   6.9   6.1   5.8   5.4
3               Roraima  15 anos ou mais   6.6   6.0   6.0   5.0
4                  Pará  15 anos ou mais   9.2   8.6   8.8   8.4
5                 Amapá  15 anos ou mais   5.0   5.0   6.1   5.5
6             Tocantins  15 anos ou mais  10.4  10.2  10.0   9.7
7              Maranhão  15 anos ou mais  16.7  16.8  16.3  15.6
8                 Piauí  15 anos ou mais  17.2  16.6  16.6  16.0
9                 Ceará  15 anos ou mais  15.2  14.2  13.3  13.6
10  Rio Grande do Norte  15 anos ou mais  14.7  13.5  12.9  13.4
11              Paraíba  15 anos ou mais  16.3  16.6  16.1  16.1
12           Pernambuco  15 anos ou mais  12.8  13.4  11.9  11.9
13              Alagoas  15 anos ou mais  19.4  18.3  17.2  17.1
14              Sergipe  15 anos ou mais  14.7  14.5  13.9  13.5
15                Bahia  15 anos ou mais  13.0  12.7  12.7  12.9
16         Minas Gerais  15 anos ou mais   6.2   6.0   5.8   5.5
17       Espírito Santo  15 anos ou mais   6.2   5.5   5.5   5.3
18       Rio de Janeiro  15 anos ou mais   2.7   2.5   2.4   2.1
19            São Paulo  15 anos ou mais   2.8   2.6   2.6   2.6
20               Paraná  15 anos ou mais   4.5   4.6   5.0   4.6
21       Santa Catarina  15 anos ou mais   2.8   2.6   2.5   2.3
22    Rio Grande do Sul  15 anos ou mais   3.2   3.0   3.0   2.6
23   Mato Grosso do Sul  15 anos ou mais   6.3   5.0   5.0   5.1
24          Mato Grosso  15 anos ou mais   6.5   6.5   7.1   6.2
25                Goiás  15 anos ou mais   6.5   5.9   5.7   5.1
26     Distrito Federal  15 anos ou mais   2.6   2.5   3.1   2.7

* Verificando os 5 primeiros dados

In [550]:
df3.head()

  Unidade da Federação   Grupo de idade  2016  2017  2018  2019
0             Rondônia  15 anos ou mais   6.6   7.2   6.5   6.4
1                 Acre  15 anos ou mais  13.1  12.1  12.1  11.7
2             Amazonas  15 anos ou mais   6.9   6.1   5.8   5.4
3              Roraima  15 anos ou mais   6.6   6.0   6.0   5.0
4                 Pará  15 anos ou mais   9.2   8.6   8.8   8.4

* Verificando os 5 ultimos dados

In [551]:
df3.tail()

   Unidade da Federação   Grupo de idade  2016  2017  2018  2019
22    Rio Grande do Sul  15 anos ou mais   3.2   3.0   3.0   2.6
23   Mato Grosso do Sul  15 anos ou mais   6.3   5.0   5.0   5.1
24          Mato Grosso  15 anos ou mais   6.5   6.5   7.1   6.2
25                Goiás  15 anos ou mais   6.5   5.9   5.7   5.1
26     Distrito Federal  15 anos ou mais   2.6   2.5   3.1   2.7

* Verificando os tipos de dados de cada coluna

In [552]:
df3.dtypes

Unidade da Federação     object
Grupo de idade           object
2016                    float64
2017                    float64
2018                    float64
2019                    float64
dtype: object

* Backup do DataFrame de taxas de analfabetização

In [553]:
df3_back = df3.copy()
df3_back

   Unidade da Federação   Grupo de idade  2016  2017  2018  2019
0              Rondônia  15 anos ou mais   6.6   7.2   6.5   6.4
1                  Acre  15 anos ou mais  13.1  12.1  12.1  11.7
2              Amazonas  15 anos ou mais   6.9   6.1   5.8   5.4
3               Roraima  15 anos ou mais   6.6   6.0   6.0   5.0
4                  Pará  15 anos ou mais   9.2   8.6   8.8   8.4
5                 Amapá  15 anos ou mais   5.0   5.0   6.1   5.5
6             Tocantins  15 anos ou mais  10.4  10.2  10.0   9.7
7              Maranhão  15 anos ou mais  16.7  16.8  16.3  15.6
8                 Piauí  15 anos ou mais  17.2  16.6  16.6  16.0
9                 Ceará  15 anos ou mais  15.2  14.2  13.3  13.6
10  Rio Grande do Norte  15 anos ou mais  14.7  13.5  12.9  13.4
11              Paraíba  15 anos ou mais  16.3  16.6  16.1  16.1
12           Pernambuco  15 anos ou mais  12.8  13.4  11.9  11.9
13              Alagoas  15 anos ou mais  19.4  18.3  17.2  17.1
14              Sergipe  15 anos ou mais  14.7  14.5  13.9  13.5
15                Bahia  15 anos ou mais  13.0  12.7  12.7  12.9
16         Minas Gerais  15 anos ou mais   6.2   6.0   5.8   5.5
17       Espírito Santo  15 anos ou mais   6.2   5.5   5.5   5.3
18       Rio de Janeiro  15 anos ou mais   2.7   2.5   2.4   2.1
19            São Paulo  15 anos ou mais   2.8   2.6   2.6   2.6
20               Paraná  15 anos ou mais   4.5   4.6   5.0   4.6
21       Santa Catarina  15 anos ou mais   2.8   2.6   2.5   2.3
22    Rio Grande do Sul  15 anos ou mais   3.2   3.0   3.0   2.6
23   Mato Grosso do Sul  15 anos ou mais   6.3   5.0   5.0   5.1
24          Mato Grosso  15 anos ou mais   6.5   6.5   7.1   6.2
25                Goiás  15 anos ou mais   6.5   5.9   5.7   5.1
26     Distrito Federal  15 anos ou mais   2.6   2.5   3.1   2.7

* Verificando os elementos unicos de cada coluna para analisar se há inconsistencias

In [554]:
pd.unique(df3['Unidade da Federação'])

array(['Rondônia', 'Acre', 'Amazonas', 'Roraima', 'Pará', 'Amapá',
       'Tocantins', 'Maranhão', 'Piauí', 'Ceará', 'Rio Grande do Norte',
       'Paraíba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia',
       'Minas Gerais', 'Espírito Santo', 'Rio de Janeiro', 'São Paulo',
       'Paraná', 'Santa Catarina', 'Rio Grande do Sul',
       'Mato Grosso do Sul', 'Mato Grosso', 'Goiás', 'Distrito Federal'],
      dtype=object)

In [555]:
pd.unique(df3['Grupo de idade'])

array(['15 anos ou mais'], dtype=object)

In [556]:
pd.unique(df3['2016'])

array([ 6.6, 13.1,  6.9,  9.2,  5. , 10.4, 16.7, 17.2, 15.2, 14.7, 16.3,
       12.8, 19.4, 13. ,  6.2,  2.7,  2.8,  4.5,  3.2,  6.3,  6.5,  2.6])

In [557]:
pd.unique(df3['2017'])

array([ 7.2, 12.1,  6.1,  6. ,  8.6,  5. , 10.2, 16.8, 16.6, 14.2, 13.5,
       13.4, 18.3, 14.5, 12.7,  5.5,  2.5,  2.6,  4.6,  3. ,  6.5,  5.9])

In [558]:
pd.unique(df3['2018'])

array([ 6.5, 12.1,  5.8,  6. ,  8.8,  6.1, 10. , 16.3, 16.6, 13.3, 12.9,
       16.1, 11.9, 17.2, 13.9, 12.7,  5.5,  2.4,  2.6,  5. ,  2.5,  3. ,
        7.1,  5.7,  3.1])

In [559]:
pd.unique(df3['2019'])

array([ 6.4, 11.7,  5.4,  5. ,  8.4,  5.5,  9.7, 15.6, 16. , 13.6, 13.4,
       16.1, 11.9, 17.1, 13.5, 12.9,  5.3,  2.1,  2.6,  4.6,  2.3,  5.1,
        6.2,  2.7])

* Renomeando as colunas

In [560]:
df3.rename(columns = {'Unidade da Federação' : 'UF','Grupo de idade':'Grupo_idade','2016':'TaxaAnalfabetismo2016','2017':'TaxaAnalfabetismo2017','2018':'TaxaAnalfabetismo2018','2019':'TaxaAnalfabetismo2019'},inplace=True)
df3

                     UF  ... TaxaAnalfabetismo2019
0              Rondônia  ...                   6.4
1                  Acre  ...                  11.7
2              Amazonas  ...                   5.4
3               Roraima  ...                   5.0
4                  Pará  ...                   8.4
5                 Amapá  ...                   5.5
6             Tocantins  ...                   9.7
7              Maranhão  ...                  15.6
8                 Piauí  ...                  16.0
9                 Ceará  ...                  13.6
10  Rio Grande do Norte  ...                  13.4
11              Paraíba  ...                  16.1
12           Pernambuco  ...                  11.9
13              Alagoas  ...                  17.1
14              Sergipe  ...                  13.5
15                Bahia  ...                  12.9
16         Minas Gerais  ...                   5.5
17       Espírito Santo  ...                   5.3
18       Rio de Janeiro  ...                   2.1
19            São Paulo  ...                   2.6
20               Paraná  ...                   4.6
21       Santa Catarina  ...                   2.3
22    Rio Grande do Sul  ...                   2.6
23   Mato Grosso do Sul  ...                   5.1
24          Mato Grosso  ...                   6.2
25                Goiás  ...                   5.1
26     Distrito Federal  ...                   2.7

[27 rows x 6 columns]

* Exportando o DataFramd e Taxa de Analfabetismo Normalizado para o CloudStorage

In [561]:
from google.cloud import storage
import os
serviceAccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount


client = storage.Client()
bucket = client.get_bucket('data_lake_ingest_data')
    
bucket.blob('2_temp/temp_pandas_taxa_analfabetismo_normalizado.csv').upload_from_string(df3.to_csv(), 'text/csv')